<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.serenityapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/serenity_launcher"
        android:label="@string/app_name_new"
        android:roundIcon="@mipmap/serenity_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.serenity.view.Sleep.SleepActivity"></activity>
        <activity android:name="com.serenity.view.alarmclock.ChooseMusicActivity">

        </activity>
        <activity android:name="com.serenity.view.alarmclock.BellRingingActivity"></activity>
        <activity android:name="com.serenity.view.home.HomeActivity" />
        <service
            android:name="com.serenity.severconnect.MusicPlayerServer"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="com.serenity.view.alarmclock.ServiceofClock"
            android:enabled="true"
            android:exported="true">
        </service>
        <activity android:name="com.serenity.view.playlist.PlayListActivity"/>
        <activity android:name="com.serenity.view.play.PlayActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.serenity.view.alarmclock.AlarmClockActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.serenity.view.alarmclock.SetAlarmClockActivity">

        </activity>
        <activity android:name="com.serenity.view.guide.GuideActivity" />
        <activity android:name="com.serenity.view.sign.SignInActivity" />
        <activity android:name="com.serenity.view.sign.SignUpActivity" />
        <activity android:name="com.serenity.serenityapp.MainActivity" />
        <activity android:name="com.serenity.view.alarmclock.clock"/>
    </application>

</manifest>