<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.serenityapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/serenity_launcher"
        android:label="@string/app_name_new"
        android:roundIcon="@mipmap/serenity_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.serenity.view.Sleep.SleepActivity">

        </activity>
        <activity android:name="com.serenity.view.alarmclock.ChooseMusicActivity">

        </activity>
        <activity android:name="com.serenity.view.alarmclock.BellRingingActivity"></activity>
        <activity android:name="com.serenity.view.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.serenity.severconnect.MusicPlayerServer"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="com.serenity.view.alarmclock.ServiceofClock"
            android:enabled="true"
            android:exported="true">
        </service>
        <activity android:name="com.serenity.view.playlist.SearchActivity" />

        <receiver android:name="com.serenity.severconnect.MusicBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.serenity.severconnect.MUSIC_PLAY"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.serenity.view.playlist.PlayListActivity">
        </activity>

        <activity android:name="com.serenity.view.play.PlayActivity">
        </activity>
        <activity android:name="com.serenity.view.alarmclock.AlarmClockActivity" >

        </activity>
        <activity android:name="com.serenity.view.alarmclock.SetAlarmClockActivity">

        </activity>
        <activity android:name="com.serenity.view.guide.GuideActivity">
        </activity>
        <activity android:name="com.serenity.view.sign.SignInActivity" />
        <activity android:name="com.serenity.view.sign.SignUpActivity" />
        <activity android:name="com.serenity.serenityapp.MainActivity" />
    </application>

</manifest>